

.btn {
    background-color: var(--light-blue-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--time-cubic);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

