
:root{

    /* fonts */
    --main-font: Roboto;
    --secondary-font: Raleway;

    /* text-colors */
    --accent-color: #2196F3;
    --black-br-txt-cl: #212121;
    --black-txt-cl: #000000;
    --Gray46-txt-cl: #757575;
    --white-cl: #FFFFFF;
    --Hex-cl: #2F303A;
    --light-blue-cl: #188CE8;
    --fone-cl:  #F5F4FA;
    --back-cl: #C4C4C4;
    --icon-cl: #AFB1B8;

    /* transition */

    --time-cubic: cubic-bezier(0.4, 0, 0.2, 1)

    /* others */
	--items: 3;
	--indent: 30px;

}

	